.logo_empresa{
    width: 77%;
}
.imagen_login{
    margin-bottom: 35px !important;
    display: flex;
    margin: 0 auto;
    width: 50%;
}
.input_tabla{
    height: 30px !important;
}
.leyenda_tabla{
    margin-top: 1% !important;
}
.btn_centrado{
    text-align:center !important;
    width: 14%;
}
.buscador{
    margin-top: 5%;
    margin-bottom: 5%;
}
.btn_busca_recibos{
    float: left;
}
.input_buscador{
    width: 80%;
}
.nombre_usuario{
    text-decoration: none !important;
}
.titulo_acceso_denegado{
    font-size: 150px;
    line-height: 150px;
    font-weight: 700;
    color: #252932;
    text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}

.centrado-porcentual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.modal_usuarios{
    margin: 10px 20px !important;
}

.dos_campos{
    margin-left: 25px;
}
.btn_descarga{
    font-size: 10px !important;
}
.trabajador_de_baja{
    background: rgba(255, 0, 0, 0.2) !important;
    /* color: #ffffff !important; */
}
.clave_mayuscula{
    text-transform: uppercase
}