<template>
  <div class="card">
    <div class="card-header">
      <strong class="card-title mr-3">Clientes</strong>
      <button type="button" title="Nuevo usuario"  class="btn btn-primary btn-sm mr-1 float-right" data-toggle="modal" data-target="#mediumModal" @click="abrirModal('registrar','')">
        <i class="fa fa-plus"></i> Nuevo
      </button>
      </div>
      <div class="card-body" >
        <div v-if="loading == true" class="d-flex justify-content-center">
          <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div v-if="loading == false">
          <div class="row mb-2">
            <div class="col-4">
              <div class="float-left mr-2 leyenda_tabla">
                Mostrar
              </div>
              <div class="float-left mr-2 input_tabla">
                <select class="form-control input_tabla" v-model="resultados_x_pagina" @change="getClientesNumeroEntradas">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
              <div class="float-left leyenda_tabla">
                Entradas
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="offset-4 col-4">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar" v-model="search"  @keyup.enter="busquedaInput()">
                <span class="input-group-addon" @click="busquedaInput()">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <table id="datatable"  class="table table-striped table-bordered">
            <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Clave</th>
              <th scope="col">N&uacute;mero de usuarios</th>
              <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in clientes" :key="item.id">
              <th scope="row" v-text="item.nombre"></th>
              <td v-text="item.clave"></td>
              <td v-text="item.max_usuarios_activos"></td>

              <td class="btn_centrado">
                <button type="button" title="Modificar" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#mediumModal" @click="abrirModal('actualizar',item)">
                  <i class="fa fa-pencil" ></i>
                </button>
                <button v-if="item.activo !=1" type="button" title="Activar" class="btn btn-success btn-sm" @click="estatus(item.activo,item.id)">
                  <i class="fa fa-check-circle-o"  ></i>
                </button>
                <button v-else type="button" title="Desactivar" class="btn btn-danger btn-sm" @click="estatus(item.activo,item.id)" >
                  <i class="fa fa-trash-o" ></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="overflow-auto">
            <!-- Use text in props -->
            <b-pagination
              v-model="page"
              :total-rows="total_registros"
              :per-page="resultados_x_pagina"
              first-text="<<"
              prev-text="<"
              next-text=">"
              last-text=">>"
              align="right"
            ></b-pagination>
          </div>
        </div>
      </div>
      <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModal" aria-hidden="true" >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="bg-dark text-white">
              <div class="row">
                <div class="col col-md-8">
                  <h5 class="modal-title modal_usuarios" id="mediumModalLabel" v-text="titulo_modal"></h5>
                </div>
                <div class="col col-md-4">
                  <button type="button" class="close text-danger modal_usuarios" data-dismiss="modal" aria-label="Close" @click="restValores()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
              <div class="modal-body">
                <div class="row form-group">
                  <div class="col-md-2"><label class=" form-control-label">NOMBRE:</label></div>
                  <div class="col-md-9">
                    <input type="text" v-model="cliente.nombre" autocomplete="off" placeholder="Nombre completo" class="form-control" 
                     id="nombre" autofocus @keyup.enter="valida_campos()" maxlength="100">
                    <span  class="invalid-feedback" style="display:block" v-if="errorTipo =='nombre'">El campo nombre es obligatorio</span>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-2"><label class=" form-control-label">CLAVE:</label></div>
                  <div class="col-md-9">
                    <input type="text"  autocomplete="off" placeholder="Clave" class="form-control clave_mayuscula" id="clave" v-model="cliente.clave" 
                     @keyup.enter="valida_campos()" maxlength="100">
                    <span  class="invalid-feedback" style="display:block" v-if="errorTipo =='clave'">El campo clave es obligatorio</span>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-2"><label class=" form-control-label">N&Uacute;MERO DE CUENTAS:</label></div>
                  <div class="col-md-9">
                    <input type="number" min="1"  autocomplete="off" placeholder="Número de cuentas" class="form-control" id="max_usuarios_activos" v-model="cliente.max_usuarios_activos"
                           @keyup.enter="valida_campos()" maxlength="100">
                    <span  class="invalid-feedback" style="display:block" v-if="errorTipo =='max_usuarios_activos'">El campo numero de cuentas es obligatorio</span>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-2"><label  class=" form-control-label">DESCRIPCIÓN:</label></div>
                  <div class="col-md-9">
                    <textarea type="text"  autocomplete="off" placeholder="Descripción" class="form-control" id="decripcion" v-model="cliente.descripcion" 
                    @keyup.enter="valida_campos()" maxlength="250"></textarea>
                    <span  class="invalid-feedback" style="display:block" v-if="errorTipo =='decripcion'">El campo descripción es obligatorio</span>
                  </div>
                </div>                                          
              </div>
              <div class="modal-footer">
                <button type="button" v-if="tipo == 'actualizar'" class="btn btn-primary" @click="valida_campos()" >Actualizar</button>
                <button type="button" v-else class="btn btn-primary" @click="valida_campos()" >Guardar</button>
                <button type="button" class="btn btn-danger" id="btnCancelar" data-dismiss="modal" @click="restValores()">Cancelar</button>
              </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import datatables from 'datatables';

  export default {
    data(){
      return{
        titulo_modal: "",
        tipo: "",
        cliente: {
          id: "",
          nombre: "",
          clave: "",
          descripcion: "",
          max_usuarios_activos:""
        },
        errorValidacion: 0,
        arrayErrores : ['nombre','clave','max_usuarios_activos'],
        errorTipo : "",
        clientes: [],
        resultados_x_pagina:10,
        page:1,
        total_registros:0,
        loading:true,
        filtros_activos:false,
        search:"",
      }
    },
      watch: {
          page: function (val) {
              this.getClientes();
          }
      },
    methods:{
        busquedaInput(){
            this.page = 1;
            this.getClientes();
        },
        getClientesNumeroEntradas(){
            this.page = 1;
            this.getClientes();
        },
      getClientes(){
          this.loading = true;
        let self = this;
        var url = '/api/clientes/find';
        this.restValores();
        axios.get(url,
            { params: {
                resultados:this.resultados_x_pagina,
                page:this.page,
                search:this.search,
            }
            }).then(function (response) {
          self.clientes = response.data.data;
          self.total_registros = response.data.total;
            self.loading = false;
        })
        .catch(function (error) {
          Swal.fire({
            position: 'center',
            type: 'error',
            title: 'Se presento un fallo, favor de contactar al administrador',
            showConfirmButton: false,
            timer: 1500
          })
          console.log(error);
            self.loading = false;
        });
      },
      valida_campos(){
        let self = this;
        this.limpiaErrores();
               
        for(var i = 0; i < this.arrayErrores.length; i++ ){
          if(eval("this.cliente." + this.arrayErrores[i]) === ""){
              self.errorValidacion = 1;
              self.errorTipo = self.arrayErrores[i];
              document.getElementById(self.arrayErrores[i]).focus();
              return self.errorValidacion;
          }
        }

        this.cliente.clave = this.cliente.clave.toUpperCase();
        if(this.cliente.id == ""){
          this.registrar();
        }
        else{
          this.actualizar();
        }
      },
      actualizar(){
        let self = this;
        
        axios.put('/api/clientes',{
          id: self.cliente.id,
          nombre: self.cliente.nombre,
          clave: self.cliente.clave,
          descripcion: self.cliente.descripcion,
          max_usuarios_activos: self.cliente.max_usuarios_activos,
          accion: "update"
        }).then(function(response) {
          self.getClientes();
          document.getElementById('btnCancelar').click();
          Swal.fire({
            position: 'center',
            type: 'success',
            title: 'Accion realizada con exito',
            showConfirmButton: false,
            timer: 1500
          })
        })
        .catch(function(error){
          document.getElementById('btnCancelar').click();
          Swal.fire({
            position: 'center',
            type: 'error',
            title: 'Se presento un fallo, favor de contactar al administrador',
            showConfirmButton: false,
            timer: 1500
          })
          console.log(error);
        });
      },
      abrirModal(tipo,item){
        let self = this;
        this.restValores();
        
        if(tipo == "registrar"){
          this.titulo_modal = "Registrar Cliente";
        }
        else if(tipo == "actualizar"){
          this.titulo_modal = "Actualización de información";
          this.cliente.id= item.id;
          this.cliente.nombre= item.nombre;
          this.cliente.clave= item.clave;
          this.cliente.descripcion= item.descripcion;
          this.cliente.max_usuarios_activos = item.max_usuarios_activos
        }
      },
      registrar(){
        let self = this;

        axios.post('/api/clientes',{
          nombre: self.cliente.nombre,
          clave: self.cliente.clave,
          descripcion: self.cliente.descripcion,
          max_usuarios_activos: self.cliente.max_usuarios_activos
        }).then(function(response) {
            self.getClientes();
            document.getElementById('btnCancelar').click();
            Swal.fire(
              'Guardado',
              'El registro se ha guardado',
              'success'
            );
        })
        .catch(function(error){
          Swal.fire({
            position: 'center',
            type: 'error',
            title: 'Se presento un fallo, favor de contactar al administrador',
            showConfirmButton: false,
            timer: 1500
          })
          console.log(error);
        });
      },
      estatus(estatus,id){
        let self = this;
        let activo = 0;
        let texto = '¿Estas seguro de desactivar?';
        let tipo = 'warning';
        console.log(estatus)
        console.log(id)        
        if (estatus != 1) {
          activo = 1; 
          texto = '¿Estas seguro de activar?';    
          tipo = 'success';
        }
        const swalWithBootstrapButtons = Swal.mixin({
          confirmButtonClass: 'btn btn-success',
          cancelButtonClass: 'btn btn-danger',
          buttonsStyling: false,
        })
        swalWithBootstrapButtons.fire({
          title: texto,
          text: "",
          type: tipo,
          showCancelButton: false,
          confirmButtonText: 'Confirmar',
          cancelButtonText: 'Cancelar',
          reverseButtons: true
        }).then((result) => {
          if (result.value) {
            axios.put('/api/clientes',{
              'id' : id,
              'activo': activo,
              'accion': "delete"
            }).then(function(response) {
              self.getClientes();
              Swal.fire({
                position: 'center',
                type: 'success',
                title: 'Accion realizada con exito',
                showConfirmButton: false,
                timer: 1500
              })
            })
            .catch(function(error){
              Swal.fire({
                position: 'center',
                type: 'error',
                title: 'Se presento un fallo, favor de contactar al administrador',
                showConfirmButton: false,
                timer: 1500
              })
              console.log(error);
            });
            
          } else if (
            // Read more about handling dismissals
            result.dismiss === Swal.DismissReason.cancel
          ) {
            swalWithBootstrapButtons.fire(
              'Cancelled',
              'Your imaginary file is safe :)',
              'error'
            )
          }
        })
      },
      restValores(){
        this.titulo_modal= "";
        this.tipo= "";
        this.cliente.id= "";
        this.cliente.nombre= "";
        this.cliente.clave= "";
        this.cliente.descripcion= "";
          this.cliente.max_usuarios_activos= "";
      },
      limpiaErrores(){
        this.errorTipo = "";
        this.errorValidacion = 0;
      },
    },
    mounted() {
      this.getClientes();
    }
  }
</script>