<template>
  <div>
    <div class="row justify-content-md-center">
        <div class="col-md-6" v-show="listado == false">
            <div class="card border border-primary">
                <div class="card-header">
                    <strong class="card-title">Ingresar clave de Empleado</strong>
                </div>
            
                <div class="card-body buscador">
                    <div class="col-10">
                        <div class="center-block">
                            <div class="form-group btn_busca_recibos input_buscador">
                                <input type="text" id="city" placeholder="Clave de Empleado" class="form-control" v-model="clave_empleado" @keyup.enter="buscar()">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 btn_busca_recibos">
                        <button type="submit" class="btn btn-success" @click="buscar()">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="card" v-show="listado">
        <div class="card-header">
            <strong class="card-title mr-3">Listado de nominas</strong>
            <a href="/main" title="Nuevo Documento"  class="btn btn-primary btn-sm mr-1 float-right">
                <i class="fa fa-search"></i> Buscar otro
            </a>

            <button type="button"  class="btn btn-primary btn-sm mr-1 float-right" @click="descarga_masiva()" :disabled="carga_nominas">
				<template v-if="carga_nominas">
					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
					Cargando...
				</template>
				<template v-else>
					<i class="fa fa-download"></i> {{ todos }}
				</template>
			</button>
        </div>

        <div class="card-body" >
          <table id="datatable"  class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Empleado</th>
                <th scope="col">Nombre</th>
                <th scope="col">RFC</th>
                <th scope="col">Periodo</th>
                <th scope="col">Fecha Timbre</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in recibos" :key="item.id" :class="{ 'trabajador_de_baja': item.activo == false }">
                <th scope="row" >
                  <input type="checkbox" v-model="seleccionados" :value="item.url_pdf" @click="seleccionar()">
                </th>
                <th scope="row" v-text="item.clave_empleado"></th>
                <td v-text="item.nombre_completo"></td>
                <td v-text="item.RFC"></td>
                <td v-text="item.periodo"></td>
                <td v-text="item.fecha_timbrado"></td>
                <td class="btn_centrado">
                  <button type="button" title="Descargar" class="btn btn-dark btn-sm btn_descarga" @click="descargar(item.url_pdf,'pdf')"> PDF </button>
                  <button type="button" title="Descargar" class="btn btn-dark btn-sm btn_descarga" @click="descargar(item.url_xml,'xml')"> XML </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</template>

<script>
    /* import datatables from 'datatables'; */
  export default {
    data(){
      return{
        listado: false,
        clave_empleado: "",
        recibos: [],

        seleccionados: [],
        carga_nominas: false,
        todos: "Descargar Todos",
      }
    },
    methods:{
      buscar(){
        let registro_patronal = document.getElementById("registro_patronal").value;
        let cliente_id = document.getElementById("cliente_id").value;
        let array_registro = registro_patronal.split(',');
        let rol = document.getElementById("rol_usuario").value;        
        let url = "/api/recibos_nomina/find";
        let self = this;
        let anio_actual = new Date().getFullYear();
        let excepcion = document.getElementById("excepcion").value;
        let parametros = {
          clave_empleado: self.clave_empleado,
          rol: rol,
          registro_patronal: array_registro,
          cliente_id: cliente_id,
          excepcion: excepcion
        }

        axios.get(url, { params: parametros })
          .then(function (response) {
            let formateado = response.data;
            formateado.forEach(element => {
              if(element['fecha_timbrado'] != undefined){
                anio_actual = element['fecha_timbrado'].split("-");
                let fecha = element['fecha_timbrado'].substring(0,10);
                element['fecha_timbrado'] =  fecha.replace(/^(\d{4})-(\d{2})-(\d{2})$/g,'$3/$2/$1');
              }
              let clave = element["clave_empleado"].trim();
              let base = element["origen"] == 'macro' ? `/CFDI_${anio_actual[0]}/MACROPAY_${anio_actual[0]}` : `/CFDI_${anio_actual[0]}`;
              element["url_pdf"] = base + "/" +  element["tipo_nomina"] + " " + element["periodo"] + "/RP " + element["registro_patronal"] + "/Suc " + element["sucursal"] +
              "/NOM " + element['tipo_nomina'] + " " + element["periodo"] + " - " + clave + "_" + element["consecutivo"] + ".pdf";
              
              element["url_xml"] = base + "/" + element["tipo_nomina"] + " " + element["periodo"] + "/RP " + element["registro_patronal"] + "/Suc " + element["sucursal"] +
              "/NOM " + element['tipo_nomina'] + " " + element["periodo"] + " - " + clave + "_" + element["consecutivo"] + ".xml";

              element['nombre_completo'] = element["nombre"] + " " + element["apellido_paterno"] + " " + element["apellido_materno"];
            });
            self.listado = true;
            self.recibos = formateado;
            self.datatable();
        })
        .catch(function (error) {
          Swal.fire({
            position: 'center',
            type: 'error',
            title: 'Se presento un fallo, favor de contactar al administrador',
            showConfirmButton: false,
            timer: 1500
          })
          console.log(error);
        });
      },
      descargar(id){
        const FileDownload = require('js-file-download');
        axios({
            method: "POST",
            url:  '/api/recibos_nomina/descargar',
            responseType: 'blob',
            data : { archivo: id },
            config: {'Content-Type': 'multipart/form-data'}
        })
        .then(function(response){
            FileDownload(response.data,response.headers[0]);
        })
        .catch(function (error) {
            console.log(error);
            Swal.fire({
                position: 'center',
                type: 'error',
                title: 'No se encontro el archivo',
                showConfirmButton: false,
                timer: 1500
            });
        });
      },
      datatable(){
        $(function(){
          $("#datatable").DataTable({
            "searching": false,
            language: {
              "decimal": "",
              "emptyTable": "No hay información",
              "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
              "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
              "infoFiltered": "(Filtrado de _MAX_ total entradas)",
              "infoPostFix": "",
              "thousands": ",",
              "lengthMenu": "Mostrar _MENU_ Entradas",
              "loadingRecords": "Cargando...",
              "processing": "Procesando...",
              "search": "Buscar:",
              "zeroRecords": "Sin resultados encontrados",
              "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
              }
            },
          })
        });
      },
      descarga_masiva(){
        this.carga_nominas= true;
        let self = this;
        var today = new Date();
        let nombre = "recibos_nomina_" + today.getDate() + "-" + today.getMonth() + "-" + today.getFullYear() + ".zip";
        let url_comprimir = '/api/recibos_nomina/comprimir';
        const FileDownload = require('js-file-download');
        let anio = new Date().getFullYear();
        let rol = document.getElementById("rol_usuario").value;
        let carpeta = rol + "_" + today.getDate() + "_" + today.getHours() + "_" + today.getMinutes() + "_" + today.getSeconds();

        if(this.seleccionados.length == 0){
          if(this.recibos.length > 0){
            for(var i = 0; i < this.recibos.length; i++){ 
              this.seleccionados.push(this.recibos[i].url_pdf);
              this.seleccionados.push(this.recibos[i].url_xml);
            }
          }
          else{
            Swal.fire({
              position: 'center',
              type: 'error',
              title: 'No se ha encontrado registros.',
              showConfirmButton: false,
              timer: 1500
            })

            return;
          }
        }
        else{
          let pdf = this.seleccionados;
          this.seleccionados = [];
          this.todos= "Descargar Todos";

          for(var i= 0; i < pdf.length; i++){
            this.seleccionados.push(pdf[i]);
            let xml = pdf[i].replace(".pdf",".xml");
            this.seleccionados.push(xml);
          }
        }

        try{
            axios({
              method: "POST",
              responseType: 'blob',
              url: url_comprimir,
              data : { archivos: this.seleccionados,  carpeta: carpeta },
              config: {'Content-Type': 'multipart/form-data'}
            })
            .then((response, status, xhr)=>{
              self.seleccionados = [];
              self.carga_nominas = false;

                if(response.headers[0] == "ok"){
                  FileDownload(response.data,nombre);
                }
                else if(response.headers[0] == "false"){
                  FileDownload(response.data,nombre);
                  setTimeout(() => {
                      const swalWithBootstrapButtons = Swal.mixin({
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false,
                      })
                      swalWithBootstrapButtons.fire({
                        title: "No se encontraron todo los archivos.",
                        text: "¿Desea descargar el reporte?",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonText: 'Descargar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: true
                      }).then((result) => {
                        if (result.value) {
                          self.descarga_excel(carpeta);
                        }
                      })
                  }, 1200);
                }
                else if(response.headers[0] === "Ninguno"){
                  Swal.fire({
                    position: 'center',
                    type: 'info',
                    title: "No se encontraron los archivos seleccionados.",
                    showConfirmButton: true,
                  })
                }
            })
            .catch(function (error) {
              self.carga_nominas = false;
              Swal.fire({
                position: 'center',
                type: 'error',
                title: 'Se presento un fallo, favor de contactar al administrador',
                showConfirmButton: false,
                timer: 1500
              })
              console.log(error);
            });
        }
        catch(e){
          self.carga_nominas= false;
          Swal.fire({
            position: 'center',
            type: 'error',
            title: 'Se presento un fallo, favor de contactar al administrador',
            showConfirmButton: false,
            timer: 1500
          })
          console.log(e.response.data.message);
        }

        this.seleccionados= [];
      },
      seleccionar(){
        let self = this;
        setTimeout(function(){
          if(self.seleccionados.length > 0 ){
            self.todos = "Descargar"
          }
          else{
            self.todos = "Descargar Todos";
          }
        }, 200);
      },
      descarga_excel(clave){
        axios({
          method: "POST",
          url: '/api/recibos_nomina/descarga_excel',
          data : {  clave: clave },
          config: {'Content-Type': 'multipart/form-data'},
          responseType:'blob'
        })
        .then(function(response){
          const FileDownload = require('js-file-download');
          var today = new Date();
          let nombre = "reporte_" + today.getDate() + "_" + today.getMonth() + "_" + today.getFullYear() + ".xlsx";
          FileDownload(response.data,nombre);
        })
        .catch(function (error) {
           Swal.fire({
            position: 'center',
            type: 'error',
            title: 'Se presento un fallo, favor de contactar al administrador',
            showConfirmButton: false,
            timer: 1500
          });
          console.log(error);
        });
      }
    },
    mounted() {
    }
  }
</script>