<template>
	<div class="card">
		<div class="card-header">
			<strong class="card-title mr-3">Listado de nominas</strong>
			<button type="button"  class="btn btn-primary btn-sm mr-1 float-right" @click="descarga_masiva()" :disabled="carga_nominas">
				<template v-if="carga_nominas">
					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
					Cargando...
				</template>
				<template v-else>
					<i class="fa fa-download"></i> {{ todos }}
				</template>
			</button>
			<button type="button" title="Nuevo usuario"  class="btn btn-primary btn-sm mr-1 float-right" data-toggle="modal" data-target="#mediumModal" @click="abrir_modal()">
				<i class="fa fa-search"></i> Buscar
			</button>
		</div>

		<div class="card-body" >
			<div v-if="loading == true" class="d-flex justify-content-center">
				<div class="spinner-border text-secondary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<div v-if="loading == false">
				<div class="row mb-2">
					<div class="col-4">
						<div class="float-left mr-2 leyenda_tabla">
							Mostrar
						</div>
						<div class="float-left mr-2 input_tabla">
							<select class="form-control input_tabla" v-model="resultados_x_pagina" @change="getRecibos(1)">
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="50">50</option>
								<option value="100">100</option>
								<option value="300">300</option>
								<option value="500">500</option>
								<option value="1000000000">Ver todos</option>
							</select>
						</div>
						<div class="float-left leyenda_tabla">
							Entradas
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="offset-4 col-4">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Buscar" v-model="search"  @keyup.enter="getRecibos()">
							<span class="input-group-addon" @click="getRecibos()">
							<i class="fa fa-search"></i>
							</span>
						</div>
						<div class="clearfix"></div>
					</div>

				</div>
				<table id="datatable"  class="table table-striped table-bordered">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Empleado</th>
							<th scope="col">Nombre</th>
							<th scope="col">Registro Patronal</th>
							<th scope="col">Periodo</th>
							<th scope="col">Fecha Timbre</th>
							<th scope="col">Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in recibos" :key="item.id"  :class="{ 'trabajador_de_baja': item.activo == false }">
							<th scope="row" >
								<input type="checkbox" v-model="seleccionados" :value="item.url_pdf" v-on:click="seleccionar()">
							</th>
							<th scope="row" v-text="item.clave_empleado"></th>
							<td v-text="item.nombre_completo"></td>
							<td v-text="item.registro_patronal"></td>
							<td v-text="item.periodo"></td>
							<td v-text="item.fecha_timbrado"></td>
							<td class="btn_centrado">
								<button type="button" title="Descargar" class="btn btn-dark btn-sm btn_descarga" @click="descargar(item.url_pdf,'pdf')"> PDF </button>
								<button type="button" title="Descargar" class="btn btn-dark btn-sm btn_descarga" @click="descargar(item.url_xml,'xml')"> XML </button>
								<!-- <a :href="item.url_pdf" download :id="item.url_pdf"></a>
								<a :href="item.url_xml" download :id="item.url_xml"></a> -->
							</td>
						</tr>
					</tbody>
				</table>

				<div class="overflow-auto">
					<!-- Use text in props -->
					<b-pagination
						v-model="page"
						:total-rows="totalRegistros"
						:per-page="resultados_x_pagina"
						first-text="<<"
						prev-text="<"
						next-text=">"
						last-text=">>"
						last-number
						align="right"
					></b-pagination>
				</div>

				<div style="margin-top: -30px;"> Mostrando {{ registroInicio + " al " + registroFin + " de " +  totalRegistros }} </div>
			</div>
		</div>

		<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModal" aria-hidden="true" >
			<div class="modal-dialog modal-lg" role="document">
				<form action="" id="busqueda">
					<div class="modal-content">
						<div class="bg-dark text-white">
							<div class="row">
								<div class="col col-md-8">
									<h5 class="modal-title modal_usuarios" id="mediumModalLabel">Búsqueda Avanzada</h5>
								</div>
								<div class="col col-md-4">
									<button type="button" class="close text-danger modal_usuarios" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</div>
						</div>

						<div class="modal-body">
							<div class="row form-group" style="margin-left:25px !important">
								<div class="col-md-5">
									<label class=" form-control-label">Sucursal:</label>
									<select class="form-control" v-model="sucursal_id">
											<option value="">SELECCIONAR</option>
											<option v-for="item in sucursales" :value="item.sucursal">  {{ item.sucursal }} </option>>
									</select>
								</div>

								<div class="col-md-5">
									<label class=" form-control-label">Patronal:</label>
									<select class="form-control" v-model="patronal_id">
										<option value="">SELECCIONAR</option>
										<option v-for="item in patronales" :value="item.sucursal">  {{ item.registro_patronal + " - " + item.sucursal }} </option>>
									</select>
								</div>

								<div class="col-md-5" style="margin-top:25px !important">
									<label class=" form-control-label">Periodo:</label>
									<select class="form-control" v-model="periodo_id">
										<option value="">SELECCIONAR</option>
										<option v-for="item in periodos" :value="item.periodo">  {{ item.periodo }} </option>>
									</select>
								</div>
								<div class="col-md-5" style="margin-top:25px !important">
									<label class=" form-control-label">Clave del empelado:</label>
									<input autocomplete="off" class="form-control" @keyup.enter="getRecibos()" v-model="empleado_id">
								</div>
							</div>

							<div class="row form-group" style="margin-left:25px !important">
								<div class="col-md-5">
									<label class=" form-control-label">Inicio Fecha Timbre:</label>
									<input type="date" autocomplete="off" class="form-control" @keyup.enter="getRecibos()" v-model="inicio">
								</div>

								<div class="col-md-5">
									<label class=" form-control-label">Final Fecha Timbre:</label>
									<input type="date" autocomplete="off" class="form-control" @keyup.enter="getRecibos()" v-model="final">
								</div>
							</div>
						</div>

						<div class="modal-footer">
						<template v-if="carga_recibos">
							<button type="button" class="btn btn-primary" :disabled="carga_recibos">
								<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
							Cargando...</button>
						</template>
						<template v-else>
							<button type="button" class="btn btn-primary" @click="getRecibos()" >Buscar</button>
						</template>
						<button type="button" class="btn btn-danger" id="btnCancelar" data-dismiss="modal" >Cancelar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data(){
		return{
			sucursales  : [],
			sucursal_id : "",
			patronales 	: [],
			patronal_id : "",
			periodos 	: [],
			periodo_id  : "",
			empleado_id : "",
			inicio		: "",
			final		:"",

			registroInicio: 0,
			registroFin: 0,
			totalRegistros : 0,

			recibos: [],
			seleccionados: [],
			carga_nominas: false,
			carga_recibos: false,
			todos: "Descargar Todos",
			rol:"",
			cliente_id: "",
			resultados_x_pagina:10,
			page:1,
			loading:true,
			registro_patronal:"",
			search:"",
		}
	},
	watch: {
		page: function (val) {
			this.getRecibos(val);
		},
		sucursal_id: function(val){
			this.abrir_modal(val, false);
		}
	},
	methods:{
		getRecibos(pagina = 1){
			this.loading 	= true;
			this.rol 	 	= document.getElementById("rol_usuario").value;
			this.page	 	= pagina == 1 ? 1 : this.page;
			this.cliente_id = document.getElementById("cliente_id").value;

			let url = "/api/recibos_nomina/registro_patronal";
			let self = this;
			let anio_actual = new Date().getFullYear();
			
			axios.get(url, {
				params: {
					cliente_id: this.cliente_id,
					rol: this.rol,
					resultados:this.resultados_x_pagina,
					page:this.page,
					search:this.search,
					sucursal_id:this.sucursal_id,
					patronal_id:this.patronal_id,
					empleado_id:this.empleado_id,
					inicio : this.inicio,
					final: this.final,
					periodo_id : this.periodo_id,
				}
			})
			.then(function (response) {
				let formateado = response.data.data;
				self.totalRegistros = response.data.total;
				self.registroInicio = response.data.from;
				self.registroFin    = response.data.to;

				formateado.forEach(element => {
					if(element['fecha_timbrado'] != undefined){
						anio_actual = element['fecha_timbrado'].split("-");
						let fecha 	= element['fecha_timbrado'].substring(0,10);
						element['fecha_timbrado'] =  fecha.replace(/^(\d{4})-(\d{2})-(\d{2})$/g,'$3/$2/$1');
					}

					let clave = element["clave_empleado"].trim();
					let base = element["origen"] == 'macro' ? `/CFDI_${anio_actual[0]}/MACROPAY_${anio_actual[0]}` : `/CFDI_${anio_actual[0]}`;

					element["url_pdf"] = base + "/" +  element["tipo_nomina"] + " " + element["periodo"] + "/RP " + element["registro_patronal"] + "/Suc " + element["sucursal"] +
					"/NOM " + element['tipo_nomina'] + " " + element["periodo"] + " - " + clave + "_" + element["consecutivo"] + ".pdf";
					element['nombre_completo'] = element["nombre"] + " " + element["apellido_paterno"] + " " + element["apellido_materno"];
					
					element["url_xml"] = base + "/" + element["tipo_nomina"] + " " + element["periodo"] + "/RP " + element["registro_patronal"] + "/Suc " + element["sucursal"] +
					"/NOM " + element['tipo_nomina'] + " " + element["periodo"] + " - " + clave + "_" + element["consecutivo"] + ".xml";
					
					element["registro_patronal"] = element["clave_patronal"] + " - " + element["registro_patronal"];
				});
				self.listado = true;
				self.recibos = formateado;
				self.loading = false;
				$('#mediumModal').modal('hide');
			})
			.catch(function (error) {
				console.log(error);
				Swal.fire({
					position: 'center',
					type: 'error',
					title: 'Se presento un fallo, favor de contactar al administrador',
					showConfirmButton: false,
					timer: 1500
				})

				self.loading = false;
			});
		},
		descargar(id){
			const FileDownload = require('js-file-download');
			axios({
				method: "POST",
				url:  '/api/recibos_nomina/descargar',
				responseType: 'blob',
				data : { archivo: id },
				config: {'Content-Type': 'multipart/form-data'}
			})
			.then(function(response){
				FileDownload(response.data,response.headers[0]);
			})
			.catch(function (error) {
				console.log(error);
				self.carga_nominas = false;
				Swal.fire({
					position: 'center',
					type: 'error',
					title: 'No se encontro el archivo',
					showConfirmButton: false,
					timer: 1500
				});
			});
		},
		abrir_modal(base= true, reset = true){
			if(reset === true)
				this.restValores();
			
			let self 		= this;
			this.rol 		= document.getElementById("rol_usuario").value;
			this.cliente_id = document.getElementById("cliente_id").value;

			let url = "/api/recibos_nomina/parametros_busqueda";
			axios.get(url,{ params: { cliente_id: this.cliente_id, rol: this.rol, sucursal_id: this.sucursal_id }})
			.then(function (response) {
				if(base === true){
					self.sucursales = response.data.sucursales;
					self.patronales = response.data.patronales;
					self.periodos	= response.data.periodos;
				}
				else{
					self.patronal_id = '';
					self.patronales  = response.data.patronales;
					self.periodo_id  = '';
					self.periodos	 = response.data.periodos;
				}
			})
			.catch(function (error) {
				console.log(error);
			});
		},
		restValores(){
			this.patronal_id = '';
			this.sucursal_id = '';
			this.empleado_id = '';
			this.periodo_id	 = '';
			this.inicio		 = "";
			this.final		 = "";
			this.page 		 = 1;
			this.search 	 = "";
		},
		descarga_masiva(){
			this.carga_nominas= true;
			let self = this;
			let url = '/api/recibos_nomina/comprimir';
			const FileDownload = require('js-file-download');
			var today = new Date();
			let nombre = "recibos_" + today.getDate() + "-" + today.getMonth() + "-" + today.getFullYear() + ".zip";
			let anio = new Date().getFullYear();
			let carpeta = this.rol + "_" + today.getDate() + "_" + today.getHours() + "_" + today.getMinutes() + "_" + today.getSeconds();
			
			if(this.seleccionados.length == 0){
				if(this.recibos.length > 0){
					for(var i = 0; i < this.recibos.length; i++){
						this.seleccionados.push(this.recibos[i].url_pdf);
						this.seleccionados.push(this.recibos[i].url_xml);
					}
				}
				else{
					Swal.fire({
						position: 'center',
						type: 'error',
						title: 'No se ha encontrado registros.',
						showConfirmButton: false,
						timer: 1500
					})
					return;
				}
			}
			else{
				let pdf = this.seleccionados;
				this.seleccionados = [];
				for(var i= 0; i < pdf.length; i++){
					this.seleccionados.push(pdf[i]);
					let xml = pdf[i].replace(".pdf",".xml");
					this.seleccionados.push(xml);
				}
			}
			
			axios({
				method: "POST",
				url: url,
				responseType: 'blob',
				data : { archivos: this.seleccionados, carpeta: carpeta },
				config: {'Content-Type': 'multipart/form-data'}
			})
			.then(function(response){
				self.seleccionados = [];
				self.carga_nominas = false;
				
				if(response.headers[0] === "ok"){
					FileDownload(response.data,nombre);
				}
				else if(response.headers[0] === "false"){
					FileDownload(response.data,nombre);
					setTimeout(() => {
						const swalWithBootstrapButtons = Swal.mixin({
						confirmButtonClass: 'btn btn-success',
						cancelButtonClass: 'btn btn-danger',
						buttonsStyling: false,
						})
						swalWithBootstrapButtons.fire({
						title: "No se encontraron todo los archivos.",
						text: "¿Desea descargar el reporte?",
						type: "warning",
						showCancelButton: false,
						confirmButtonText: 'Descargar',
						cancelButtonText: 'Cancelar',
						reverseButtons: true
						}).then((result) => {
						if (result.value) {
							self.descarga_excel(carpeta);
						}
						})
					}, 1200);
				}
				else if(response.headers[0] === "Ninguno"){
					Swal.fire({
					position: 'center',
					type: 'info',
					title: "No se encontraron los archivos seleccionados.",
					showConfirmButton: true,
					})
				}
			})
			.catch(function (error) {
				self.carga_nominas = false;
				Swal.fire({
					position: 'center',
					type: 'error',
					title: 'Se presento un fallo, favor de contactar al administrador',
					showConfirmButton: false,
					timer: 1500
				})
				console.log("1",error);
			});
		},      
		seleccionar(){
			let self = this;
			setTimeout(function(){
			if(self.seleccionados.length > 0 ){
				self.todos = "Descargar"
			}
			else{
				self.todos = "Descargar Todos";
			}
			}, 200);
		},
		descarga_excel(clave){
			axios({
				method: "POST",
				url: '/api/recibos_nomina/descarga_excel',
				data : {  clave: clave },
				config: {'Content-Type': 'multipart/form-data'},
				responseType:'blob'
			})
			.then(function(response){
				const FileDownload = require('js-file-download');
				var today = new Date();
				let nombre = "reporte_" + today.getDate() + "_" + today.getMonth() + "_" + today.getFullYear() + ".xlsx";
				FileDownload(response.data,nombre);
			})
			.catch(function (error) {
			Swal.fire({
				position: 'center',
				type: 'error',
				title: 'Se presento un fallo, favor de contactar al administrador',
				showConfirmButton: false,
				timer: 1500
			});
			console.log(error);
			});
		},
	},
	mounted() {
		this.getRecibos();
	}
}
</script>
