<template>
  <div class="card">
    
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-sm mr-1 float-right" @click="registro_patronal()" :disabled="carga_patronal">
          <template v-if="carga_patronal">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Cargando...
          </template>
          <template v-else>
            <i class="fa fa-refresh"></i> Registro Patronal
          </template>
        </button>
        
        <button class="btn btn-primary btn-sm mr-1 float-right"  @click="recibos_nomina()" type="button" :disabled="carga_nominas">
          <template v-if="carga_nominas">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Cargando...
          </template>
          <template v-else>
            <i class="fa fa-refresh"></i> Recibos Nominas
          </template>
        </button>
      </div>
    </div>
</template>

<script>
  import datatables from 'datatables';
  export default {
    data(){
      return{
        carga_nominas: false,
        carga_patronal: false,
        suma: 0,
      }
    },
    methods:{
      registro_patronal(){
        let self = this;
        this.carga_patronal = true;
        axios.get('/api/update_database/registro_patronal',{
        
        }).then(function(response) {
          self.carga_patronal = false;
          Swal.fire({
            position: 'center',
            type: 'success',
            title: 'Accion realizada con exito',
            showConfirmButton: false,
            timer: 1500
          })
        })
        .catch(function(error){
          Swal.fire({
            position: 'center',
            type: 'error',
            title: 'Se presento un fallo, favor de contactar al administrador',
            showConfirmButton: false,
            timer: 1500
          })
          console.log(error);
        });
      },
      recibos_nomina(){
        let self = this;
        this.carga_nominas = true;
        this.suma = 0;
        axios.get('/api/update_database/recibos_nomina',{
        
        }).then(function(response) {
          self.suma_actualizaciones();
        })
        .catch(function(error){
          Swal.fire({
            position: 'center',
            type: 'error',
            title: 'Se presento un fallo, favor de contactar al administrador',
            showConfirmButton: false,
            timer: 1500
          })
          console.log(error);
        });

        axios.get('/api/update_database/estatus_trabajadore',{
        }).then(function(response) {
          self.suma_actualizaciones();
        })
        .catch(function(error){
          Swal.fire({
            position: 'center',
            type: 'error',
            title: 'Se presento un fallo, favor de contactar al administrador',
            showConfirmButton: false,
            timer: 1500
          })
          console.log(error);
        });
      },
      suma_actualizaciones(){
        this.suma = this.suma + 1;

        if(this.suma == 2){
          this.carga_nominas = false;
          Swal.fire({
            position: 'center',
            type: 'success',
            title: 'Accion realizada con exito',
            showConfirmButton: false,
            timer: 1500
          })
        }
      }
    },
    mounted() {
      
    }
  }
</script>