<template>
    <div class="card">
        <div class="card-header">
            <strong class="card-title mr-3">Usuarios</strong>
            <button
                type="button"
                title="Nuevo usuario"
                class="btn btn-primary btn-sm mr-1 float-right"
                data-toggle="modal"
                data-target="#mediumModal"
                @click="abrirModal('registrar', '')"
            >
                <i class="fa fa-plus"></i> Nuevo
            </button>
        </div>
        <div class="card-body">
            <div v-if="loading == true" class="d-flex justify-content-center">
                <div class="spinner-border text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div v-if="loading == false">
                <div class="row mb-2">
                    <div class="col-4">
                        <div class="float-left mr-2 leyenda_tabla">
                            Mostrar
                        </div>
                        <div class="float-left mr-2 input_tabla">
                            <select
                                class="form-control input_tabla"
                                v-model="resultados_x_pagina"
                                @change="getUsuariosNumeroEntradas"
                            >
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="float-left leyenda_tabla">
                            Entradas
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="offset-4 col-4">
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Buscar"
                                v-model="search"
                                @keyup.enter="busquedaInput()"
                            />
                            <span
                                class="input-group-addon"
                                @click="busquedaInput()"
                            >
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <table
                    id="datatable"
                    class="table table-striped table-bordered"
                >
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Registro Patronal</th>
                            <th scope="col" v-if="rol == 1">Cliente</th>
                            <th scope="col" v-else>Usuario</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in usuarios" :key="item.id">
                            <th scope="row" v-text="item.nombre"></th>
                            <td v-text="item.registro_patronal"></td>
                            <td
                                v-text="item.nombre_cliente"
                                v-if="rol == 1"
                            ></td>
                            <td v-text="item.usuario" v-else></td>
                            <td v-text="item.rol_nombre"></td>
                            <td class="btn_centrado">
                                <button
                                    type="button"
                                    title="Modificar"
                                    class="btn btn-sm btn-secondary"
                                    data-toggle="modal"
                                    data-target="#mediumModal"
                                    @click="abrirModal('actualizar', item)"
                                >
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button
                                    type="button"
                                    title="Cambiar contraseña"
                                    class="btn btn-warning btn-sm"
                                    data-toggle="modal"
                                    data-target="#smallmodal"
                                    @click="abrirModal('password', item)"
                                >
                                    <i class="fa fa-lock"></i>
                                </button>
                                <button
                                    v-if="item.activo != 1"
                                    type="button"
                                    title="Activar"
                                    class="btn btn-success btn-sm"
                                    @click="
                                        estatus(
                                            item.activo,
                                            item.id,
                                            item.cliente_id
                                        )
                                    "
                                >
                                    <i class="fa fa-check-circle-o"></i>
                                </button>
                                <button
                                    v-else
                                    type="button"
                                    title="Desactivar"
                                    class="btn btn-danger btn-sm"
                                    @click="
                                        estatus(
                                            item.activo,
                                            item.id,
                                            item.cliente_id
                                        )
                                    "
                                >
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="overflow-auto">
                    <!-- Use text in props -->
                    <b-pagination
                        v-model="page"
                        :total-rows="total_registros"
                        :per-page="resultados_x_pagina"
                        first-text="<<"
                        prev-text="<"
                        next-text=">"
                        last-text=">>"
                        align="right"
                        last-number
                    ></b-pagination>
                </div>
            </div>
        </div>
        <div
            class="modal fade"
            id="mediumModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="mediumModal"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="bg-dark text-white">
                        <div class="row">
                            <div class="col col-md-8">
                                <h5
                                    class="modal-title modal_usuarios"
                                    id="mediumModalLabel"
                                    v-text="titulo_modal"
                                ></h5>
                            </div>
                            <div class="col col-md-4">
                                <button
                                    type="button"
                                    class="close text-danger modal_usuarios"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    @click="restValores()"
                                >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <template v-if="!carga_parametros">
                            <div class="d-flex justify-content-center">
                                <div
                                    class="spinner-grow text-secondary"
                                    style="width: 5rem; height: 5rem;"
                                    role="status"
                                >
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    <label class=" form-control-label"
                                        >NOMBRE:</label
                                    >
                                </div>
                                <div class="col-md-9">
                                    <input
                                        type="text"
                                        v-model="usuario.nombre"
                                        autocomplete="off"
                                        placeholder="Nombre completo"
                                        class="form-control mayusculas"
                                        id="nombre"
                                        autofocus
                                        @keyup.enter="valida_campos()"
                                        maxlength="100"
                                    />
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="errorTipo == 'nombre'"
                                        >El campo nombre es obligatorio</span
                                    >
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    <label class=" form-control-label"
                                        >CORREO:</label
                                    >
                                </div>
                                <div class="col-md-9">
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        placeholder="Correo"
                                        class="form-control"
                                        id="email"
                                        v-model="usuario.email"
                                        @keyup.enter="valida_campos()"
                                        maxlength="100"
                                    />
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="errorTipo == 'email'"
                                        >El campo correo es obligatorio</span
                                    >
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="errorCorreo"
                                        >El correo no tiene un formato valido
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    <label class=" form-control-label"
                                        >TELÉFONO:</label
                                    >
                                </div>
                                <div class="col-md-9">
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        placeholder="Teléfono"
                                        class="form-control"
                                        id="telefono"
                                        v-model="usuario.telefono"
                                        @keyup.enter="valida_campos()"
                                        maxlength="25"
                                    />
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="errorTipo == 'telefono'"
                                        >El campo teléfono es obligatorio</span
                                    >
                                </div>
                            </div>
                            <div class="row form-group" v-if="this.rol == 1">
                                <div class="col-md-2">
                                    <label class=" form-control-label"
                                        >CLIENTE:</label
                                    >
                                </div>
                                <div class="col-md-9">
                                    <select
                                        name="cliente"
                                        id="cliente"
                                        v-model="usuario.cliente"
                                        class="form-control"
                                    >
                                        <option value="">SELECCIONAR</option>
                                        <option
                                            v-for="item in clientes"
                                            :key="item.id"
                                            v-text="item.nombre"
                                            :value="item.id"
                                        ></option>
                                    </select>
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="errorTipo == 'cliente'"
                                        >El campo cliente es obligatorio</span
                                    >
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    <label class=" form-control-label"
                                        >ROL:</label
                                    >
                                </div>
                                <div class="col-md-9">
                                    <select
                                        name="rol"
                                        id="rol"
                                        v-model="usuario.rol"
                                        class="form-control"
                                    >
                                        <option value="">SELECCIONAR</option>
                                        <option
                                            v-for="item in roles"
                                            :key="item.id"
                                            v-text="item.nombre"
                                            :value="item.id"
                                        ></option>
                                    </select>
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="errorTipo == 'rol'"
                                        >El campo rol es obligatorio</span
                                    >
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    <label class=" form-control-label"
                                        >REGISTRO PATRONAL:</label
                                    >
                                </div>
                                <div class="col-md-9">
                                    <div>
                                        <multiselect
                                            v-model="value"
                                            :options="registro_patronal"
                                            :multiple="true"
                                            :close-on-select="false"
                                            :clear-on-select="false"
                                            :preserve-search="true"
                                            placeholder="Seleccionar"
                                            label="registro_patronal"
                                            track-by="registro_patronal"
                                            :preselect-first="false"
                                            id="registro_patronal"
                                        >
                                            <template
                                                slot="selection"
                                                slot-scope="{
                                                    values,
                                                    search,
                                                    isOpen
                                                }"
                                            >
                                                <span
                                                    class="multiselect__single"
                                                    v-if="values.length &amp;&amp; !isOpen"
                                                >
                                                    {{
                                                        values.length
                                                    }}
                                                    elementos seleccionados.
                                                </span>
                                            </template>
                                        </multiselect>
                                        <span
                                            class="invalid-feedback"
                                            v-if="
                                                errorTipo == 'registro_patronal'
                                            "
                                            style="display:block"
                                            >Es requerido al menos un registro
                                            patronal.</span
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    <label class=" form-control-label"
                                        >LIMITAR:</label
                                    >
                                </div>
                                <div class="col-md-9">
                                    <input
                                        type="text"
                                        v-model="usuario.excepcion"
                                        autocomplete="off"
                                        placeholder="Excepciones"
                                        class="form-control mayusculas"
                                        id="excepcion"
                                        @keyup.enter="valida_campos()"
                                        maxlength="200"
                                    />
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="errorTipo == 'excepcion'"
                                        >El campo exepciones es
                                        obligatorio</span
                                    >
                                </div>
                            </div>
                            <div
                                class="row form-group"
                                v-if="tipo != 'actualizar'"
                            >
                                <div class="col-md-2">
                                    <label class=" form-control-label"
                                        >USUARIO:</label
                                    >
                                </div>
                                <div class="col-md-9">
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        placeholder="Usuario"
                                        class="form-control"
                                        v-model="usuario.usuario"
                                        id="usuario"
                                        @keyup.enter="valida_campos()"
                                        maxlength="50"
                                    />
                                    <span
                                        class="valid-feedback"
                                        style="display:block; color:black;"
                                        v-if="!error_usuario"
                                        >* El usuario debe ser un correo
                                        electronico.
                                    </span>
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="errorTipo == 'usuario'"
                                        >El campo usuario es obligatorio</span
                                    >
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="error_usuario"
                                        >El usuario debe ser un correo
                                        electronico.
                                    </span>
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="usuDuplicado"
                                        >El usuario no esta disponible.</span
                                    >
                                </div>
                            </div>
                            <div class="row form-group" v-else>
                                <div class="col-md-2">
                                    <label class=" form-control-label"
                                        >USUARIO:</label
                                    >
                                </div>
                                <div class="col-md-9">
                                    <input
                                        type="text"
                                        class="form-control"
                                        v-model="usuario.usuario"
                                        disabled
                                    />
                                </div>
                            </div>
                            <div
                                class="row form-group"
                                v-if="tipo != 'actualizar'"
                            >
                                <div class="col-md-2">
                                    <label class=" form-control-label"
                                        >CONTRASEÑA:</label
                                    >
                                </div>
                                <div class="col-md-9">
                                    <input
                                        type="password"
                                        class="form-control"
                                        v-model="usuario.password"
                                        id="password"
                                        placeholder="Contraseña"
                                        @keyup.enter="valida_campos()"
                                    />
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="errorTipo == 'password'"
                                        >El campo contraseña es
                                        obligatorio</span
                                    >
                                    <span
                                        class="invalid-feedback"
                                        style="display:block"
                                        v-if="errorPassword"
                                    >
                                        La contraseña debe ser mayor a 8
                                        caracteres y debe incluir mínimo una
                                        mayúscula, una minúscula y un
                                        número</span
                                    >
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            v-if="tipo == 'actualizar'"
                            class="btn btn-primary"
                            @click="valida_campos()"
                        >
                            Actualizar
                        </button>
                        <button
                            type="button"
                            v-else
                            class="btn btn-primary"
                            @click="valida_campos()"
                        >
                            Guardar
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger"
                            id="btnCancelar"
                            data-dismiss="modal"
                            @click="restValores()"
                        >
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="modal fade"
            id="smallmodal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="smallmodalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="bg-dark text-white">
                        <div class="row">
                            <div class="col col-md-8">
                                <h5
                                    class="modal-title modal_usuarios"
                                    id="mediumModalLabel"
                                    v-text="titulo_modal"
                                ></h5>
                            </div>
                            <div class="col col-md-4">
                                <button
                                    type="button"
                                    class="close text-danger modal_usuarios"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    @click="restValores()"
                                >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input
                                    type="password"
                                    class="form-control"
                                    v-model="usuario.password"
                                    id="password"
                                    placeholder="Nueva Contraseña"
                                />
                                <span
                                    class="invalid-feedback"
                                    style="display:block"
                                    v-if="errorTipo == 'password'"
                                    >El campo contraseña es obligatorio</span
                                >
                                <span
                                    class="invalid-feedback"
                                    style="display:block"
                                    v-if="errorPassword"
                                >
                                    La contraseña debe ser mayor a 8 caracteres
                                    y debe incluir mínimo una mayúscula, una
                                    minúscula y un número</span
                                >
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input
                                    type="password"
                                    class="form-control"
                                    v-model="usuario.confirmacion"
                                    id="confirmacion"
                                    placeholder="Confirmación"
                                    @keyup.enter="cambia_password()"
                                />
                                <span
                                    class="invalid-feedback"
                                    style="display:block"
                                    v-if="errorTipo == 'confirmacion'"
                                    >El campo confirmación es obligatorio</span
                                >
                                <span
                                    class="invalid-feedback"
                                    style="display:block"
                                    v-if="confirma_password"
                                >
                                    Las contraseñas no coiciden, favor de
                                    verificar.</span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-primary"
                            @click="cambia_password()"
                        >
                            Guardar
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger"
                            id="cierra_cambio_pass"
                            data-dismiss="modal"
                            @click="restValores()"
                        >
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from "vue-multiselect";

export default {
    components: { Multiselect },
    data() {
        return {
            value: [],
            titulo_modal: "",
            tipo: "",
            usuarios: [],
            usuario: {
                id: "",
                nombre: "",
                telefono: "",
                email: "",
                usuario: "",
                rol: "",
                registro_patronal: [],
                password: "",
                confirmacion: "",
                cliente: "",
                excepcion: ""
            },
            registro_patronal: [],
            roles: [],
            errorCorreo: "",
            errorValidacion: 0,
            arrayErrores: [
                "nombre",
                "email",
                "telefono",
                "cliente",
                "rol",
                "usuario",
                "password"
            ],
            errorTipo: "",
            usuDuplicado: 0,
            error_usuario: "",
            errorPassword: "",
            confirma_password: "",
            confirmacion: "",
            clientes: [],
            rol: "",
            cliente_id: "",

            resultados_x_pagina: 10,
            page: 1,
            total_registros: 0,
            loading: true,
            filtros_activos: false,
            search: "",
            carga_parametros: false,
            final: 0
        };
    },
    watch: {
        page: function(val) {
            this.getUsuarios();
        }
    },
    methods: {
        busquedaInput() {
            this.page = 1;
            this.getUsuarios();
        },
        getUsuariosNumeroEntradas() {
            this.page = 1;
            this.getUsuarios();
        },
        getUsuarios() {
            this.loading = true;
            let self = this;
            var url = "/api/usuarios/find";
            this.restValores();
            this.cliente_id = document.getElementById("cliente_id").value;
            this.rol = document.getElementById("rol_usuario").value;

            axios
                .get(url, {
                    params: {
                        cliente_id: this.cliente_id,
                        rol: this.rol,
                        resultados: this.resultados_x_pagina,
                        page: this.page,
                        search: this.search
                    }
                })
                .then(function(response) {
                    let formateado = response.data.data;
                    self.total_registros = response.data.total;

                    formateado.forEach(element => {
                        if (element["registro_patronal"] != undefined) {
                            element["registro_patronal"] = element[
                                "registro_patronal"
                            ].replace(/,/g, ", ");
                        }
                    });
                    self.usuarios = response.data.data;
                    self.loading = false;
                })
                .catch(function(error) {
                    Swal.fire({
                        position: "center",
                        type: "error",
                        title:
                            "Se presento un fallo, favor de contactar al administrador",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    console.log(error);
                    self.loading = false;
                });
        },
        actualizar() {
            let self = this;
            let array = [];

            for (var i = 0; i < this.value.length; i++) {
                array.push(this.value[i].registro_patronal);
            }
            this.usuario.registro_patronal = array.toString();
            if (self.usuario.excepcion == "") {
                self.usuario.excepcion = "NA";
            }
            axios
                .put("/api/usuarios", {
                    id: self.usuario.id,
                    nombre: self.usuario.nombre,
                    telefono: self.usuario.telefono,
                    email: self.usuario.email,
                    rol_id: self.usuario.rol,
                    cliente_id: self.usuario.cliente,
                    registro_patronal: self.usuario.registro_patronal,
                    excepcion: self.usuario.excepcion,
                    accion: "update"
                })
                .then(function(response) {
                    self.getUsuarios();
                    document.getElementById("btnCancelar").click();
                    Swal.fire({
                        position: "center",
                        type: "success",
                        title: "Accion realizada con exito",
                        showConfirmButton: false,
                        timer: 1500
                    });
                })
                .catch(function(error) {
                    document.getElementById("btnCancelar").click();
                    Swal.fire({
                        position: "center",
                        type: "error",
                        title:
                            "Se presento un fallo, favor de contactar al administrador",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    console.log(error);
                });
        },
        restValores() {
            this.titulo_modal = "";
            this.tipo = "";
            this.usuario.id = "";
            this.usuario.nombre = "";
            this.usuario.telefono = "";
            this.usuario.email = "";
            this.usuario.usuario = "";
            this.usuario.rol = "";
            this.usuario.registro_patronal = [];
            this.usuario.password = "";
            this.usuario.confirmacion = "";
            this.usuario.cliente = "";
            this.usuario.excepcion = "";
            this.value = [];
            this.final = 0;
        },
        abrirModal(tipo, item) {
            let self = this;
            let reg_pat = [];
            let url = "/api/clientes";
            this.restValores();
            this.carga_parametros = false;
            this.obtiene_valores();
            this.tipo = tipo;
            if (tipo == "registrar") {
                this.titulo_modal = "Registrar Usuario";
            } else if (tipo == "actualizar") {
                this.titulo_modal = "Actualización de información";
                this.usuario.id = item.id;
                this.usuario.nombre = item.nombre;
                this.usuario.telefono = item.telefono;
                this.usuario.email = item.correo;
                this.usuario.usuario = item.usuario;
                this.usuario.rol = item.rol_id;
                this.usuario.cliente = item.cliente_id;
                if (item.excepcion != "NA") {
                    this.usuario.excepcion = item.excepcion;
                }

                if (
                    item.registro_patronal != null &&
                    item.registro_patronal != undefined &&
                    item.registro_patronal != ""
                ) {
                    reg_pat = item.registro_patronal.split(",");
                }
                for (var i = 0; i < reg_pat.length; i++) {
                    if (this.rol != 1) {
                        this.value.push({
                            RFC: "",
                            clave: "",
                            id: "1",
                            nombre: "",
                            registro_patronal: reg_pat[i].trim()
                        });
                    } else {
                        let clave = reg_pat[i].trim() + " - ";
                        axios
                            .get(url, {
                                params: {
                                    id: item.cliente_id
                                }
                            })
                            .then(function(response) {
                                console.info("clave", clave);
                                self.value.push({
                                    RFC: "",
                                    clave: "",
                                    id: "1",
                                    nombre: "",
                                    registro_patronal:
                                        clave + response.data.clave.trim()
                                });
                                console.log(self.value);
                            })
                            .catch(function(error) {
                                console.log(error);
                            });
                    }
                }
            } else if (tipo === "password") {
                this.titulo_modal = "Cambio de Contraseña";
                this.usuario.id = item.id;
            }
        },
        valida_campos() {
            let self = this;
            this.limpiaErrores();
            let emailValido = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            let expreg = /(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})/;
            var url =
                "/api/usuarios?usuario=" +
                this.usuario.usuario +
                "&cliente_id=" +
                this.usuario.cliente;
            if (this.rol != 1) {
                this.usuario.cliente = this.cliente_id;
            }

            if (this.usuario.id != "") {
                this.arrayErrores = [
                    "nombre",
                    "email",
                    "telefono",
                    "cliente",
                    "rol"
                ];
            }

            if (this.usuario.rol == 1) {
                this.arrayErrores = ["nombre", "email", "telefono", "rol"];
                this.usuario.cliente = 1;
            } else {
                this.arrayErrores = [
                    "nombre",
                    "email",
                    "telefono",
                    "cliente",
                    "rol"
                ];
            }

            for (var i = 0; i < this.arrayErrores.length; i++) {
                if (eval("this.usuario." + this.arrayErrores[i]) === "") {
                    self.errorValidacion = 1;
                    self.errorTipo = self.arrayErrores[i];
                    document.getElementById(self.arrayErrores[i]).focus();
                    return self.errorValidacion;
                }
            }
            if (emailValido.test(this.usuario.email) == false) {
                this.errorCorreo = 1;
                this.errorValidacion = 1;
                document.getElementById("email").focus();
                return this.errorValidacion;
            }

            if (
                this.value.length == 0 &&
                this.usuario.rol != 2 && this.usuario.rol != 1
            ) {
                this.errorValidacion = 1;
                this.errorTipo = "registro_patronal";
                document.getElementById("registro_patronal").focus();
                return;
            }

            if (emailValido.test(this.usuario.usuario) == false) {
                this.error_usuario = 1;
                this.errorValidacion = 1;
                document.getElementById("usuario").focus();
                return this.errorValidacion;
            }

            if (this.rol == 1) {
                let array = this.value;
                this.value = [];
                let registro = null;
                for (var i = 0; i < array.length; i++) {
                    registro = array[i].registro_patronal.split(" -");
                    this.value.push({ registro_patronal: registro[0] });
                }
            }

            if (this.usuario.rol == 1 || this.usuario.rol == 2) {
                this.value = [];
            }

            if (this.usuario.id == "") {
                if (expreg.test(this.usuario.password) == false) {
                    self.errorPassword = 1;
                    self.errorValidacion = 1;
                    return self.errorValidacion;
                }
                axios
                    .get(url)
                    .then(function(response) {
                        if (response.data.length >= 1) {
                            self.usuDuplicado = 1;
                            self.errorValidacion = 1;
                            document.getElementById("usuario").focus();
                            return self.errorValidacion;
                        }
                        self.registrar();
                    })
                    .catch(function(error) {
                        Swal.fire({
                            position: "center",
                            type: "error",
                            title:
                                "Se presento un fallo, favor de contactar al administrador",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        console.log(error);
                    });
            } else {
                this.actualizar();
            }
        },
        estatus(estatus, id, cliente_id) {
            let self = this;
            let activo = 0;
            let texto = "¿Estas seguro de desactivar?";
            let tipo = "warning";

            if (estatus != 1) {
                activo = 1;
                texto = "¿Estas seguro de activar?";
                tipo = "success";
            }
            const swalWithBootstrapButtons = Swal.mixin({
                confirmButtonClass: "btn btn-success",
                cancelButtonClass: "btn btn-danger",
                buttonsStyling: false
            });
            swalWithBootstrapButtons
                .fire({
                    title: texto,
                    text: "",
                    type: tipo,
                    showCancelButton: false,
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                    reverseButtons: true
                })
                .then(result => {
                    if (result.value) {
                        axios
                            .put("/api/usuarios", {
                                id: id,
                                activo: activo,
                                accion: "delete",
                                cliente_id: cliente_id
                            })
                            .then(function(response) {
                                self.getUsuarios();
                                let responseData = response.data;

                                if (responseData.status === true) {
                                    Swal.fire({
                                        position: "center",
                                        type: "success",
                                        title: "Accion realizada con exito",
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                } else {
                                    Swal.fire({
                                        position: "center",
                                        type: "error",
                                        title: responseData.message,
                                        showConfirmButton: false,
                                        timer: 2000
                                    });
                                }
                            })
                            .catch(function(error) {
                                Swal.fire({
                                    position: "center",
                                    type: "error",
                                    title:
                                        "Se presento un fallo, favor de contactar al administrador",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                //console.log(error);
                            });
                    } else if (
                        // Read more about handling dismissals
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            "Cancelled",
                            "Your imaginary file is safe :)",
                            "error"
                        );
                    }
                });
        },
        registrar() {
            let self = this;
            let array = [];

            for (var i = 0; i < this.value.length; i++) {
                array.push(this.value[i].registro_patronal + " ");
            }
            this.usuario.registro_patronal = array.toString();

            axios
                .post("/api/usuarios", {
                    nombre: self.usuario.nombre,
                    telefono: self.usuario.telefono,
                    email: self.usuario.email,
                    usuario: self.usuario.usuario,
                    rol_id: self.usuario.rol,
                    cliente_id: self.usuario.cliente,
                    registro_patronal: self.usuario.registro_patronal,
                    password: self.usuario.password,
                    excepcion: self.usuario.excepcion
                })
                .then(function(response) {
                    self.getUsuarios();
                    document.getElementById("btnCancelar").click();
                    Swal.fire({
                        position: "center",
                        type: "success",
                        title: "El registro se ha guardado",
                        showConfirmButton: false,
                        timer: 1500
                    });
                })
                .catch(function(error) {
                    Swal.fire({
                        position: "center",
                        type: "error",
                        title: "Llegaste a tu limite de usuarios",
                        showConfirmButton: false,
                        timer: 2000
                    });
                    //console.log(error);
                });
        },
        obtiene_valores() {
            let self = this;
            let rol = document.getElementById("rol_usuario").value;
            axios
                .get("/api/roles/find?rol=" + rol)
                .then(function(response) {
                    self.roles = response.data;
                    self.finaliza_parametros();
                })
                .catch(function(error) {
                    Swal.fire({
                        position: "center",
                        type: "error",
                        title:
                            "Se presento un fallo, favor de contactar al administrador",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    console.log(error);
                });
            axios
                .get("/api/registro_patronal/find", {
                    params: { rol: this.rol, cliente_id: this.cliente_id }
                })
                .then(function(response) {
                    self.registro_patronal = response.data;
                    if (self.rol == 1) {
                        self.registro_patronal.forEach(element => {
                            if (element["registro_patronal"] != undefined) {
                                element["registro_patronal"] =
                                    element["registro_patronal"] +
                                    " - " +
                                    element["sucursal"];
                            }
                        });
                    }
                    self.finaliza_parametros();
                })
                .catch(function(error) {
                    Swal.fire({
                        position: "center",
                        type: "error",
                        title:
                            "Se presento un fallo, favor de contactar al administrador",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    console.log(error);
                });
            axios
                .get("/api/clientes/find", {
                    params: { type_request: "catalogo" }
                })
                .then(function(response) {
                    self.clientes = response.data;
                    self.finaliza_parametros();
                })
                .catch(function(error) {
                    Swal.fire({
                        position: "center",
                        type: "error",
                        title:
                            "Se presento un fallo, favor de contactar al administrador",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    console.log(error);
                });
        },
        limpiaErrores() {
            this.errorTipo = "";
            this.errorValidacion = 0;
            this.usuDuplicado = "";
            this.errorPassword = "";
            this.errorCorreo = "";
            this.confirma_password = "";
            this.confirmacion = "";
            this.error_usuario = "";
        },
        cambia_password() {
            let self = this;
            let expreg = /(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})/;
            this.limpiaErrores();

            let arrayErrores = ["password", "confirmacion"];

            for (var i = 0; i < arrayErrores.length; i++) {
                if (eval("this.usuario." + arrayErrores[i]) === "") {
                    self.errorValidacion = 1;
                    self.errorTipo = arrayErrores[i];
                    document.getElementById(arrayErrores[i]).focus();
                    return self.errorValidacion;
                }
            }
            if (expreg.test(this.usuario.password) == false) {
                self.errorPassword = 1;
                self.errorValidacion = 1;
                return;
            }
            if (this.usuario.password != this.usuario.confirmacion) {
                self.errorValidacion = 1;
                self.confirma_password = 1;
                return;
            }
            axios
                .put("/api/usuarios", {
                    id: self.usuario.id,
                    password: self.usuario.password,
                    accion: "password"
                })
                .then(function(response) {
                    self.getUsuarios();
                    document.getElementById("cierra_cambio_pass").click();
                    Swal.fire({
                        position: "center",
                        type: "success",
                        title: "Se ha modificado la contraseña.",
                        showConfirmButton: false,
                        timer: 1500
                    });
                })
                .catch(function(error) {
                    Swal.fire({
                        position: "center",
                        type: "error",
                        title:
                            "Se presento un fallo, favor de contactar al administrador",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    console.log(error);
                });
        },
        finaliza_parametros() {
            this.final = this.final + 1;
            if (this.final == 3) {
                this.carga_parametros = true;
            }
        }
    },
    mounted() {
        this.getUsuarios();
    }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
